*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: center;
    
}
nav {
    text-align: right;
    word-spacing: 10px;
    padding: 10px;
    position: relative;
    background-color: rgb(16, 85, 44);

}
body 